.promo {
  padding-top: 30px !important;
  padding-bottom: 0 !important;
  background-attachment: fixed;
  &__btn {
    display: block !important;
    font-size: 14px !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 4px !important;
    padding: 5px 42px !important;
    &:hover,
    &:focus,
    &:active {
      color: #000 !important;
      background-color: #fff !important;
    }
  }
  &.home {
    background-image: url("../../../public/images/bg/main-bg.jpg");
    background-position: 50% -220px !important;
    background-size: 1920px auto !important;
  }
  &.our-coffee {
    background-image: url("../../../public/images/bg/our-bg.jpg");
    background-position: 49% -190px;
    background-size: 1500px auto !important;
  }
  &.your-pleasure {
    background-image: url("../../../public/images/bg/pleasure-bg.jpg");
    background-size: 1451px auto !important;
    background-position: 50% -240px;
  }
  .stripes {
    margin-bottom: 32px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    @media (min-width: 992px) {
      padding: 75px 0 80px;
    }
    @media (min-width: 1200px) {
      padding: 90px 0;
    }
  }
  &__title {
    font-size: 30px;
    margin-bottom: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff !important;
    @media (min-width: 992px) {
      font-size: 40px;
    }
  }
  &__subtitle {
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media (min-width: 992px) {
      font-size: 24px;
    }
    &:not(:last-of-type) {
      margin-bottom: 8px;
      @media (min-width: 992px) {
        margin-bottom: 20px;
      }
    }
    &:last-of-type {
      margin-bottom: 18px !important;
      @media (min-width: 992px) {
        margin-bottom: 24px !important;
      }
    }
  }
}