.card {
  width: 100%;
  max-width: 220px;
  margin: 0;
  background: rgba(255, 255, 255, 0.65);
  padding: 22px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  &-title {
    font-size: 14px !important;
    margin-bottom: 10px !important;
  }
  &-text {
    text-align: right;
    font-weight: 700;
    &:not(:last-of-type) {
      margin-bottom: 6px !important;
    }
  }
  &-body {
    padding: 0 !important;
  }
  &-box {
    height: 154px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    img {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}