
.section {
  .card {
    background-color: #fff;
    border: none;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  }
}


.products-list {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @media (min-width: 576px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  @media (min-width: 992px) {
    gap: 24px 40px;
  }

  @media (min-width: 1200px) {
    gap: 50px 60px;
  }
}