.our-best {
  background-image: url("../../../public/images/bg/paper-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.29);
  }
  &__title {
    position: relative;
    z-index: 2;
  }
}